# --- Nextflow Work & Execution Logs ---
.nextflow/
work/
.nextflow.log*
.nextflow.pid

# --- Large Data Files & Results ---
data/*
!data/.gitkeep
results/
*.fastq.gz
*.sra
*.bam

# --- References ---
# Ignore large genomic files but keep the directory structure
references/*
!references/.gitkeep

# --- OS & Editor Specific ---
.DS_Store
.vscode/
.idea/
report-*.html
timeline-*.html

bin/
# Ignore execution artifacts
flowchart.png
report-*.html
timeline-*.html