# --- Nextflow Work & Execution Logs ---
# These folders contain thousands of temporary files
.nextflow/
work/
.nextflow.log*

# --- Project Binaries ---
# Ignoring the entire bin folder prevents any Java or SRA Toolkit 
# files from being tracked, regardless of their subfolders.
bin/

# --- Large Data Files & Results ---
# Never push raw sequencing data or generated results
data/
results/
*.fastq.gz
*.sra
*.bam

# --- OS & Editor Specific ---
.DS_Store
.vscode/
.github/workflows/