params {
    input = 'assets/samplesheet.csv'
    outdir = 'results'
    genome = 'GRCh38' //   reference genome
    single_end = true  //   single-end or paired-end reads
    threads = 2
    memory = '4 GB'
}
process {
    executor = 'local'
    cpus = params.threads
    memory = params.memory
}

docker {
    enabled = true}
process.container = 'quay.io/biocontainers/fastqc:0.12.1--hdfd78af_0'
