params {
    input = 'assets/samplesheet.csv'
    samplesheet = "assets/samplesheet.csv"
    outdir = 'results'
    fasta = "${projectDir}/references/Homo_sapiens.GRCh38.dna.chromosome.22.fa.gz"
    gtf   = "${projectDir}/references/Homo_sapiens.GRCh38.110.gtf.gz" 
    threads = 2
    memory = '4 GB'
}
process {
    executor = 'local'
    cpus = params.threads
    memory = params.memory
}

docker {
    enabled = true
}
process.container = 'quay.io/biocontainers/fastqc:0.12.1--hdfd78af_0'

conda {
    enabled = false
}

dag {
    enabled = true
    file = 'workflow_dag.html'
}
